# Dependencies
node_modules/

# Environment files
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Coverage
coverage/

# Temporary files
*.tmp

# Render
.render

# Vite
frontend/dist/

# Optional (keep uploads private if needed)
# backend/uploads/